@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poetsen+One&display=swap');

@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*tailwind color pick for my project*/
  --background-primary: bg-black, --background-secondary: bg-gray-800,
    --background-third: bg-gray-300, --background-fourth: bg-green-500, --text-color-one: text-white,
    --text-color-two: text-gray-300;
}

#app {
  width: 100vw;
  margin: 0;
  font-weight: normal;
  overflow-x: hidden;
}
